<div class="main-container">
  <div class="top-container">
    <div class="fixed-size">
      <div class="services-container">
        <div class="service">
          <img src="/assets/icons/hobbi.svg" width="32" height="32" alt="Хобби">
          <h1>Хобби</h1>
        </div>
        <div class="service">
          <img src="/assets/icons/store.svg" width="32" height="32" alt="Магазин">
          <h1>Магазин</h1>
        </div>
        <div class="service">
          <img src="/assets/icons/repair.svg" width="32" height="32" alt="Мастер">
          <h1>Мастер</h1>
        </div>
        <div class="service">
          <img src="/assets/icons/car.svg" width="32" height="32" alt="Такси">
          <h1>Такси</h1>
        </div>
        <div class="service">
          <img src="/assets/icons/cleaning.svg" width="32" height="32" alt="Уборка">
          <h1>Уборка</h1>
        </div>
        <div class="service">
          <img src="/assets/icons/screw.svg" width="32" height="32" alt="Ремонт">
          <h1>Ремонт</h1>
        </div>
        <div class="service">
          <img src="/assets/icons/medical.svg" width="32" height="32" alt="Здоровье">
          <h1>Здоровье</h1>
        </div>
        <div class="service">
          <img src="/assets/icons/tennis.svg" width="32" height="32" alt="Спорт">
          <h1>Спорт</h1>
        </div>
        <div class="service">
          <img src="/assets/icons/book-reader.svg" width="32" height="32" alt="Психолог">
          <h1>Психолог</h1>
        </div>
      </div>
      <div class="search-container">
        <input class="search" type="text" placeholder="Поиск услуги...">
      </div>
      <div class="slog-container">
        <h3>Портал для тех, кто любит дарить веру надежду любовь</h3>
      </div>
    </div>
  </div>
  <div class="fixed-size">
    <div class="work-container">
      <h1>Как это работает?</h1>
      <div class="info-section">
        <div class="info-container">
          <img src="/assets/icons/old-people.png" alt="question-circle">
          <h2>Для кого?</h2>
          <p>Для социально незащищенные групп населения и граждан старше 65 лет</p>
        </div>
        <img src="/assets/icons/infinity.gif"/>
        <div class="info-container">
          <img src="/assets/icons/question-circle.svg" alt="question-circle">
          <h2>Кто помогает?</h2>
          <p>Крупные компании, предприниматели и просто добрые люди</p>
        </div>
      </div>
    </div>
    <div class="steps-container">
      <div class="step-container left" style="background-image: url(/assets/images/pages/main/step-1.jpg);">
        <div class="step-container__background">
          <div class="step-container__content">
            <h1 class="step-container__content-title">Шаг 1</h1>
            <h2 class="step-container__content-subtitle">Получить статус <span>"Всё просто"</span> на Мос.РУ</h2>
            <h3 class="step-container__content-desc">
              - Сходить в МФЦ <br />
              - Переход по <span>ссылке</span> <br />
              - Телефон горячей линии
            </h3>
          </div>
        </div>
      </div>
      <div class="step-container right" style="background-image: url(/assets/images/pages/main/step-2.jpg); background-position-x: -230px;">
        <div class="step-container__background">
          <div class="step-container__content">
            <h1 class="step-container__content-title">Шаг 2</h1>
            <h2 class="step-container__content-subtitle">Авторизоваться на сайте через Мос.Ру</h2>
            <h3 class="step-container__content-desc">
              - Пройти процесс авторизации на нашем сайте, с помощью учётной записи Мос.Ру
            </h3>
          </div>
        </div>
      </div>
      <div class="step-container left" style="background-image: url(/assets/images/pages/main/step-3.png);">
        <div class="step-container__background">
          <div class="step-container__content">
            <h1 class="step-container__content-title">Шаг 3</h1>
            <h2 class="step-container__content-subtitle">Заказать услугу</h2>
            <h3 class="step-container__content-desc">
              - Выбрать услугу через каталог <br />
              - Оставить заявку
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="partnership-container">
      <h1 class="partnership-container__title">Хочешь быть полезным?</h1>
      <div class="partnership-container__sections">
        <div class="section">
          <h1 class="section-title">Вы компания?</h1>
          <h3 class="section-item">У Вас компания по предоставлению услуг - Вы можете быть полезным</h3>
          <button>Зарегистрироваться</button>
        </div>
        <div class="section">
          <h1 class="section-title">Вы волонтёр?</h1>
          <h3 class="section-item">Вы хотите быть полезным - тогда Вам к нам!</h3>
          <button>Пройти обучение</button>
        </div>
        <div class="section">
          <h1 class="section-title">Вы Соц.Работник?</h1>
          <h3 class="section-item">Для Вас мы открываем новые горизонты!</h3>
          <button>Отправить резюме</button>
        </div>
      </div>
    </div>
  </div>
</div>
