<div class="footer-section">
  <div class="fixed-size">
    <div class="footer-section__container">
      <div class="footer-section__container-column">
        <h1 class="column-title">Помощь</h1>
        <h3 class="column-item">Личный кабинет</h3>
        <h3 class="column-item">Часто задаваемые вопросы</h3>
      </div>
      <div class="footer-section__container-column">
        <h1 class="column-title">Просто для всех</h1>
        <h3 class="column-item">Гражданам</h3>
        <h3 class="column-item">Компаниям</h3>
        <h3 class="column-item">Волонтёрам</h3>
        <h3 class="column-item">Хочу быть соц. работником</h3>
      </div>
      <div class="footer-section__container-column">
        <h1 class="column-title">Безопасность</h1>
        <h3 class="column-item">...</h3>
        <h3 class="column-item">...</h3>
        <h3 class="column-item">Личный курьер</h3>
      </div>
      <div class="footer-section__container-column">
        <h1 class="column-title"><span>Всё просто</span> в соцсетях</h1>

      </div>
    </div>
  </div>
</div>
