<div class="container">
  <div class="fixed-size">
    <div class="info-row">
      <div class="info-container">
        <h1 class="info-container__title">Вcё просто</h1>
        <h3 class="info-container__desc">
          &bull; Вы бы хотели помогать пожилым людям и людям с ограниченными возможностями, НО<br/>
          - Вы не знаете как<br/>
          - Не умеете<br/>
          - У Вас не хватит времени<br/><br/>

          &bull; Экосистема «Всё просто»  поможет<br/>
          &bull; Мы Вас обучим<br/>
          &bull; Экосистема оптимизирует Ваше время
        </h3>
      </div>
      <div class="info-container">
        <h1 class="info-container__title">Зачем?</h1>
        <h3 class="info-container__desc">
          &bull; Это воспитывает культуру взаимопомощи.<br/>
          &bull; Это делает наш город и людей добрее.<br/>
          &bull; У Вас появятся социальные привилегии волонтера
        </h3>
      </div>
    </div>
    <div class="how-row">
      <div class="how-container">
        <h1 class="how-container__title">Как?</h1>
        <h3 class="how-container__desc">
          1. Подаете заявку на обучение<br/>
          2. Мы проверяем Вашу личность и записываем на ближайшее обучение<br/>
          3. Вы будете подключены к системе заявок от граждан (кол-во заявок, удобное для Вас время и территориальный признак Вы определяете сами).
        </h3>
      </div>
    </div>
    <div class="form-row">
      <form>
        <h1>Зарегистрироваться</h1>
        <div class="form-input">
          <label>Организация:</label>
          <input type="text">
        </div>
        <div class="form-input">
          <label>Номер волонтёрской книжки:</label>
          <input type="text">
        </div>
        <div class="form-input">
          <label>Телефон:</label>
          <input type="tel">
        </div>
        <div class="button-row">
          <button>Отправить заявку</button>
        </div>
      </form>
    </div>
  </div>
</div>
