<div class="container">
  <div class="fixed-size">
    <div class="info-row">
      <div class="info-container">
        <h1 class="info-container__title">Ранее</h1>
        <h3 class="info-container__desc">
          &bull; Успевал сходить в магазине<br/>
          &bull; Убраться домае<br/>
          &bull; Поменять постельное бельее<br/>
          &bull; Постиратье<br/>
          &bull; Приготовить еду
        </h3>
      </div>
      <div class="info-container">
        <h1 class="info-container__title">Новая роль</h1>
        <h3 class="info-container__desc">
          Социальный работник – это помощник, который консультирует о возможностях ЭКОСИСТЕМЫ, помогает в них
          разобраться и следит, чтобы все было качественно выполнено.
        </h3>
      </div>
    </div>
    <div class="how-row">
      <div class="how-container">
        <h1 class="how-container__title">Как?</h1>
        <h3 class="how-container__desc">
          1. Отправьте Ваше резюме<br/>
          2. Пройти обучение
        </h3>
      </div>
    </div>
    <div class="form-row">
      <form>
        <h1>Зарегистрироваться</h1>
        <div class="form-input">
          <label>Организация:</label>
          <input type="text">
        </div>
        <div class="form-input">
          <label>Номер волонтёрской книжки:</label>
          <input type="text">
        </div>
        <div class="form-input">
          <label>Телефон:</label>
          <input type="tel">
        </div>
        <div class="button-row">
          <button>Отправить заявку</button>
        </div>
      </form>
    </div>
  </div>
</div>
