<div class="container">
  <div class="fixed-size">
    <div class="info-row">
      <div class="info-container">
        <h1 class="info-container__title">Кто?</h1>
        <h3 class="info-container__desc">
          &bull; У Вас собственный бизнес, крупный или не большое семейное предприятие.<br/>
          &bull; Вы считаете, что услуги или продукты Вашей компании, могут быть полезными пенсионерам или людям с
          ограниченными возможностями.<br/>
          &bull; Вы хотите стать участником экосистемы и помогать
        </h3>
      </div>
      <div class="info-container">
        <h1 class="info-container__title">Зачем?</h1>
        <h3 class="info-container__desc">
          &bull; Вы помогаете тем, что умеете делать<br/>
          &bull; Это воспитывает культуру взаимопомощи.<br/>
          &bull; Это делает наш город и людей добрее.
        </h3>
      </div>
    </div>
    <div class="how-row">
      <div class="how-container">
        <h1 class="how-container__title">Как?</h1>
        <h3 class="how-container__desc">
          1. Регистрируете Ваше предприятие на сайте экосистемы<br/>
          2. Проверка Вашего предприятия займет не более суток<br/>
          3. При положительном решении Вы будете подключены к системе заявок от граждан (кол-во заявок, которые Вы
          можете принять от Экосистемы «Все просто» Вы регулируете сами).<br/>
          4. Вы продаете Вашу услугу за символическое вознаграждение, устанавливаемое платформой (в расчёт берутся
          только стоимость материалов без учета человеческого труда)<br/>
          5. С продажи данных услуг и продуктов налог не взымается.
        </h3>
      </div>
    </div>
    <div class="form-row">
      <form>
        <h1>Зарегистрироваться</h1>
        <div class="form-input">
          <label>Название компании:</label>
          <input type="text">
        </div>
        <div class="form-input">
          <label>Ниминование услуги:</label>
          <input type="text">
        </div>
        <div class="form-input">
          <label>Телефон:</label>
          <input type="tel">
        </div>
        <div class="form-input">
          <label>ИНН:</label>
          <input type="text">
        </div>
        <div class="button-row">
          <button>Отправить заявку</button>
        </div>
      </form>
    </div>
  </div>
</div>
